<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table class="table">
  <tbody>
    <tr>
      <td>Диагональ</td>
      <td>{{ product.diagonal }}</td>
    </tr>
  <tr>
      <td>Разрешение экрана</td>
      <td>{{ product.resolution }}</td>
    </tr>
  <tr>
      <td>Процессор</td>
      <td>{{ product.proccesor }}</td>
    </tr>
  <tr>
      <td>Оперативная память</td>
      <td>{{ product.ram }}</td>
    </tr>
  <tr>
      <td>Объём аккумулятора</td>
      <td>{{ product.accum }}</td>
    </tr>
  <tr>
      <td>Объём встроенной памяти</td>
      <td>{{ product.memory_volume }}</td>
    </tr>
  <tr>
      <td>Основная камера</td>
      <td>{{ product.main_camera }}</td>
    </tr>
  <tr>
      <td>Фронтальная камера</td>
      <td>{{ product.front_camera }}</td>
    </tr>
  <tr>
      <td>Слот для карты памяти</td>
      <td>{{ product.sd }}</td>
    </tr>
  </tbody>
</table>
</body>
</html>